.idea/
.idea/*
.idea/*.*
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/tanksw-piano-tiles-bot.iml
.idea/vcs.xml
/.idea/
/.idea/*
/.idea/*.*
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/tanksw-piano-tiles-bot.iml
/.idea/vcs.xml
idea/
idea/*
idea/*.*
idea/misc.xml
idea/modules.xml
idea/runConfigurations.xml
idea/tanksw-piano-tiles-bot.iml
idea/vcs.xml